* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

.LP-laptop {
    height: 90vh;
    width: 100%;
    background: url(/orangedisheswhiten.jpg) no-repeat;
    background-size: auto 100% ;
    background-position: center;

}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
}

a:hover {
    color: white;
}

.landingPage {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* padding-left: 40px; */
}

.title {
    width: 60%;
    height: auto;
    padding: 30px 0 0 60px;
}

.comment {
    text-align: center;
    font-size: 1.3em;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.btn {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(122, 109, 102, 0.8) ;
    padding: 10px 30px;
    border: 2px solid white !important;
    border-radius: 20px;
    width: 180px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.btn:hover {
    color: #7A6D66 !important;
    background: #F8E8CF;
    border-color: #FAEAD2 !important;
    transition: all 0.4s ease 0s;
    }

    .button_cont {
        margin: auto;
    }

.threeboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    
}
#box1 {
    background: rgba(246, 239, 229, 0.3);
}
#box2 {
    background: rgba(232, 227, 221, 0.3);
}

.box {
    width: 30vw;
    background: red;
    justify-content: center;
    height: 70vh;
    align-content: center;
    margin: auto;

}
.box a, p {
    text-decoration: none;
    color: black;
}
.box img {
    width: 80%;
    padding-top: 30px;
    display: flex;
    margin: auto;
}
.comment {
    display: flex;
    flex-direction: column;
}
#box3 {
    background: rgba(228, 206, 180, 0.3);
}

footer {
    /* height: 20vh; */
    width: 100%;
    background: #FCF3E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    margin: 0 auto;
}
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
footer .nav {
    padding: 50px 0;
}